.booking-container {
  display: flex;
  justify-content: flex-start; /* Aligns items to the start of the container */
  padding: 20px;
}

.booking-form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  flex: 1;
  margin-right: 20px;
}

.booking-form label {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.booking-form input,
.booking-form textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.booking-form input[type="text"],
.booking-form input[type="email"],
.booking-form input[type="tel"],
.booking-form input[type="text"] {
  grid-column: span 1;
}

.booking-form textarea {
  grid-column: span 2;
}

.booking-form button {
  grid-column: span 2;
  padding: 10px;
  background-color: #f3c9a9;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

.calendar-wrapper {
  flex: 2;


}

.num-people-options {
  display: flex;
  align-items: center;
}

