.booking-container {
  display: flex;
  padding: 20px;
  justify-content: space-between; /* Adjusts spacing between elements */
}

.booking-form {
  display: flex;
  flex-direction: column;
  width: 48%; /* Reduce width to fit calendar closer */
  margin-right: 2%; /* Small margin to create space between form and calendar */
}

.booking-form label {
  display: block;
  margin-bottom: 5px;
}

.booking-form input,
.booking-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


.booking-form textarea {
  resize: vertical;
}

.booking-form button {
  padding: 10px;
  background-color: #f3c9a9;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

.calendar-wrapper {
 /* Reduce width to fit form and calendar properly */
  position: absolute;
  right: 0px;
  padding: 10px;
}

.num-people-options {
  margin-bottom: 20px;
}

.total-cost {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.cost-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.cost-item.total {
  font-weight: bold;
  font-size: 1.2em;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

.cost-item .label {
  color: #555;
}

.cost-item .value {
  color: #000;
}