body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav { /*navbar styling */
    background-color: #f3c9a9;
    align-items: center;
    padding: 10px 0;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
